<h1>Welcome to <%= @restaurant.name %> </h1>



<div class="rest"><%= @restaurant.description %></div>



<div id="map">

  <img src="https://maps.googleapis.com/maps/api/staticmap?size=480x480&markers=icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon%26chld=restaurant%257C996600%7C224<%= @restaurant.address %>">
</div>


<%= link_to 'Update restaurant',  edit_restaurant_path(@restaurant)%> 
<%= link_to 'Delete restaurant',  { action: :destroy, id: @restaurant.id }, method: :delete, data: { confirm: 'Are you sure?' } %> 


<%= link_to 'Make a reservation' , new_reservation_for_restaurant_path(@restaurant.id) %>
