<h1>Welcome to <%= @restaurant.name %> </h1>
<h1>Create a new restaurant entry</h1>
<%= form_for @restaurant, url: {action: "update"}, html: {class: "restform"} do |f| %>
  
  
  <%= label_tag :name %> <%= f.text_field :name %>
  <%= label_tag :address %> <%= f.text_field :address %>
  <%= label_tag :phonenumber %> <%= f.text_field :phonenumber %>
  <%= label_tag :description %><%= f.text_area :description, size: "60x12" %>
  <%= f.submit "Create" %>
  
  
<% end %>




<%= link_to 'Update restaurant',  edit_restaurant_path(@restaurant)%> 
<%= link_to 'Delete restaurant',  { action: :destroy, id: @restaurant.id }, method: :delete, data: { confirm: 'Are you sure?' } %> 
