<!DOCTYPE html>
<html>
<head>
  <title>RestaurantRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
	   <p class="notice"><%= notice %></p>
	          <p class="alert"><%= alert %></p>

<nav><%= link_to "Home", root_path %> |  <%= link_to "Create restaurant", "/restaurants/new" %></nav>
<%= link_to "New user",  new_user_session_path %>
<%= yield %>

</body>
</html>
